@media (max-width: 1200px) {

    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5% 1%;
    }

    .about__presentation {
        flex-direction: column;
        padding: 5% 1%;
    }

    .presentation__content {
        width: auto;
        padding: 0 2%;
    }

    .about__presentation__content {
        width: auto;
        padding: 0 2%;
    }

    .contact__presentation {
    flex-direction: column;
    padding: 5% 1%;
    }
}

@media (max-width: 1614px) {
    .form {
    width: 100%;
    }
}

@media (max-width: 425px) {
    .header__menu__link{
        font-size: 0.8rem;
    }

    .presentation__content__title {
        font-size: 1.7rem;
        line-height: 45px;
    }

    .presentation__content__text {
        font-size: 1.2rem;
    }

    .about__presentation__content__text {
        font-size: 1.2rem;}

    .about__presentation__content__title {
         font-size: 1.7rem; }

    .medias_title {
        font-size: 1rem;
    }
    .contact__presentation {
        gap: 32px;
    }
    
    .form-header {
        display: none;
    }

    .form {
        width: 100%; 
        padding: 0 1rem; 
        margin: auto;
    }

    .input_group {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-box {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .input-box input {
        width: 100%;
    }

    .input-box-message {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .input-box-message textarea {
        width: 100%; 
        height: 15vh; 
    }

    .send-button {
       width: 25%;
    }

    .footer_about {
        font-size: 1rem;
    }

    .footer {
        font-size: 1rem;
    }

    .formresponsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .marginform {
        width: 70%;
    }
}
